# Docker Registry
DOCKER_REGISTRY=your-registry.com
TAG=latest

# Airflow
AIRFLOW_UID=50000
AIRFLOW_FERNET_KEY=Wb2wbqOTpeiGYalyIxtnnDXfVOqJLk_lGksM6s_JTRU=
AIRFLOW_USERNAME=airflow
AIRFLOW_PASSWORD=airflow123
AIRFLOW_EMAIL=admin@example.com

# Email Alerts
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_MAIL_FROM=your-email@gmail.com
SMTP_SSL=False
SMTP_STARTTLS=True

# Slack Alerts
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/your/webhook/url

# Database
POSTGRES_PASSWORD=airflow
POSTGRES_DW_PASSWORD=dataeng123

# Deployment
DEPLOYMENT_PATH=/path/to/deployment 